<input
  #fileInput
  (change)="selectFile(fileInput.files)"
  accept="text/csv"
  class="d-none"
  type="file"
/>

<div class="h5 text-muted d-flex align-items-center">
  <ng-container *ngIf="file; else selectFileTemplate">
    <div class="container">
      <span class="mr-3">Selected file: {{ file.name }}</span>

      <button
        class="text-uppercase"
        (click)="uploadClick.emit()"
        color="primary"
        mat-flat-button
      >
        Upload
      </button>

      <button
        class="text-uppercase"
        (click)="removeFile()"
        color="warn"
        mat-flat-button
      >
        Delete
      </button>
    </div>
  </ng-container>
</div>

<ng-template #selectFileTemplate>
  <div class="container">
    <span class="mr-3">Select file to upload</span>

    <button
      class="text-uppercase"
      (click)="fileInput.click()"
      color="accent"
      mat-flat-button
    >
      Select file
    </button>
  </div>
</ng-template>
